<div class='container-fluid'>
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">流量套餐</h1>
      </div>
  </div>


<form role="form" accept-charset="UTF-8" action="{{path}}" method="{{method}}">
  <div class='row'>
    <div class="col-lg-6">
      <div class="form-group">
        <label>名字</label>
        <input class="form-control" placeholder="input name" name="name" value="{{ product.name }}">
      </div>
      <div class="form-group">
        <label>花费</label>
        <input class="form-control" placeholder="input price" name="price" type='text' value="{{ product.price }}">
      </div>
      <div class="form-group">
        <label>排序</label>
        <input class="form-control" placeholder="input sortNum" name="sortNum" type='number' min="0" step='1' value="{{ product.sortNum }}">
      </div>
      <div class="form-group">
        <label>提供商</label>
        {{ selectTag providerOptions providerCollection product.providerId }}
      </div>
      <div class="form-group">
        <label>省份</label>
        <input class="form-control" placeholder="input province" name="province" type='text' value="{{ product.province }}">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label>value</label>
        <input class="form-control" placeholder="input value" name="value" type='number' min="0" step='1' value="{{ product.value }}">
      </div>
      <div class="form-group">
        <div class="checkbox" style="padding-top: 20px;">
          <label>
              <input type="checkbox" name="display" {{ isChecked product.display  }} >显示
          </label>
        </div>
      </div>
      <div class="form-group">
        <label>type</label>
        {{ selectTag typeOptions typeCollection product.type }}
      </div>
      <div class="form-group">
        <label>bid</label>
        <input class="form-control" placeholder="input bid" name="bid" type='text' value="{{ product.bid }}">
      </div>

      <div class="form-group">
        <label>进货价</label>
        <input class="form-control" placeholder="input purchase price" name="purchasePrice" type='text' value="{{ product.purchasePrice }}">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-11">
      <button type="submit" class="pull-right btn btn-primary">提  交</button>
    </div>
  </div>

</form>

</div>