<div class="row">
  <div class="col-xs-12">
    <div class="form-horizontal">
      <div class="form-group">
          <label for="" class="col-xs-2 control-label">手机号码：</label>
          <div class="col-xs-10">
            <div class="row">
              <input type="text" id="mobile" name="number" class="col-xs-4 ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" placeholder="请输入手机号码" required="">
            </div>
            <div class="row">
              <p id="phone-detail" style="display: none; color: green" class="help-block">广东 广州市</p>
            </div>
          </div>
      </div>
      <input type="hidden" name="user_product_no" id="user_product_no" value="" required="">
      <div class="form-group">
        <label for="" class="col-xs-2 control-label">流量套餐：</label>
        <div class="col-xs-10">
          <div class="products-type-list list-one row">
            <div id="data" class="bs-glyphicons">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
          <label for="" class="col-xs-2 control-label">具体规格：</label>
          <div class="col-xs-10">
              <div id="product-price" style="font-size: 23px; color: red">
              </div>
          </div>
      </div>
      <div class="form-group">
          <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" id="charge" class="btn btn-primary">提交</button>
          </div>
      </div>
    </div>
  </div>
</div>


<script id="trafficplans-template" type="text/x-handlebars-template">
<div class="col-xs-12">
  <div class="row">
  \{{#each products}}
      <ul class="col-xs-4 bs-glyphicons-list">
        <li data-value="\{{product_id}}" data-price="\{{price}}">\{{name}} \{{price}}元</li>
      </ul>
  \{{/each}}
  </div>
</div>

</script>

<script type="text/javascript">
$(function(){
  window.accessToken = '{{token.accessToken}}'
})
</script>